@use "variables"as *;

//Make a big margin on left so I can create fixed menu
#container__Body {
    height: 100vw;
    min-width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%;
    display: block;
}