@use 'variables'as *;

body {
    display: flex;
    justify-content: center;
    min-height: $site_minHeight;
    background-color: $site_background;
    color: $site_textcolor;
    font-family: $font_family;
    font-size: $global_font-size;
}

#container {
    min-width: 1580px;
    max-width: 1800px;
    height: 100vh;
}

p {
    font-size: $p_font_size;
}

h1 {
    font-size: $h1_font-size;
}

h2 {
    font-size: $h2_font-size;
}

h3 {
    font-size: $h3_font-size;
}

h4 {
    font-size: $h4_font-size;
}

li {
    font-size: $li_font-size;
}

.btn {
    background-color: $btn_bg;
    color: $btn_text-color;
    border-color: $btn_border-color;
    border-radius: $btn_radious;
    padding: 5px 5px;
}

input {
    background-color: $input_bg;
    color: $input_text-color;
    border-color: $input_border-color;
    border-radius: $input_radious;
    padding: 5px 5px;
}

textarea {
    background-color: $input_bg;
    color: $input_text-color;
    border-color: $input_border-color;
    border-radius: $input_radious;
    padding: 5px 5px;
}

select {
    background-color: $input_bg;
    color: $input_text-color;
    border-color: $input_border-color;
    border-radius: $input_radious;
    padding: 5px 5px;
}

option {
    background-color: $input_bg;
    color: $input_text-color;
    border-color: $input_border-color;
    cursor: grab;
}