@use 'variables'as *;

body {
    display: flex;
    justify-content: center;
    min-height: $site-minHeight;
    background-color: $site-background;
    color: $site-textcolor;
    font-family: $font-family;
    font-size: $global-font-size;
}

#container {
    min-width: 1580px;
    max-width: 1800px;
    height: 100vh;
}

p {
    font-size: $p_font_size;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

li {
    font-size: $li-font-size;
}

.btn {
    background-color: $btn-bg;
    color: $btn-text-color;
    border-color: $btn-border-color;
    border-radius: $btn-radius;
    padding: 5px 5px;
}

option {
    background-color: $input-bg;
    color: $input-text-color;
    border-color: $input-border-color;
    cursor: grab;
}

input,
textarea,
select {
    background-color: $input-bg;
    color: $input-text-color;
    border-color: $input-border-color;
    border-radius: $input-radius;
    padding: 5px 5px;
}