@use "variables" as *;

#nav__Menu {
    margin-top: 2%;
    display: $Hide_Elements;
    height: fit-content;
    width: fit-content;
}

#nav__Dropbox {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 1%;
}