// Global
$site-background: #000000;
$site-minHeight: 100vh;
$site-textcolor: lightgray;
$site-FontFamily: Suisse Intl, sans-serif;
$Hide-Elements: flex;


// Fonts
$font-family: Georgia-Pro, 'Times New Roman', Times, serif;
$global-font-size: 16px;
$p-font-size: 16px;
$h4-font-size: 17px;
$h3-font-size: 19px;
$h2-font-size: 21px;
$h1-font-size: 36px;
$li-font-size: 16px;

//buttons
$btn-bg: black;
$btn-bg-2nd: rgb(34, 108, 193);
$btn-text-color: rgb(211, 225, 188);
$btn-border-color: rgb(57, 136, 192);
$btn-radius: 2%;

//inputs
$input-bg: black;
$input-text-color: rgb(211, 225, 188);
$input-border-color: rgb(57, 136, 192);
$input-radius: 10px;