// Global
$site_background: #000000;
$site_minHeight: 100vh;
$site_textcolor: lightgray;
$site_FontFamily: Suisse Intl, sans-serif;
$Hide_Eelements: flex;


// Fonts
$font_family: Georgia-Pro, 'Times New Roman', Times, serif;
$global_font_size: 16px;
$p_font-size: 16px;
$h4_font-size: 17px;
$h3_font-size: 19px;
$h2_font-size: 21px;
$h1_font-size: 36px;
$li_font-size: 16px;

//buttons
$btn_bg: black;
$btn-bg-2nd: rgb(34, 108, 193);
$btn_text-color: rgb(211, 225, 188);
$btn_border-color: rgb(57, 136, 192);
$btn_radious: 10%;

//inputs
$input_bg: black;
$input_text-color: rgb(211, 225, 188);
$input_border-color: rgb(57, 136, 192);
$input_radious: 4%;