*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #000000;
  color: lightgray;
  font-family: Georgia-Pro, "Times New Roman", Times, serif;
  font-size: 16px;
}

#container {
  min-width: 1580px;
  max-width: 1800px;
  height: 100vh;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 17px;
}

li {
  font-size: 16px;
}

.btn {
  background-color: black;
  color: rgb(211, 225, 188);
  border-color: rgb(57, 136, 192);
  border-radius: 2%;
  padding: 5px 5px;
}

option {
  background-color: black;
  color: rgb(211, 225, 188);
  border-color: rgb(57, 136, 192);
  cursor: grab;
}

input,
textarea,
select {
  background-color: black;
  color: rgb(211, 225, 188);
  border-color: rgb(57, 136, 192);
  border-radius: 10px;
  padding: 5px 5px;
}

select {
  min-width: 100px;
  margin: 4px 0;
}

#login__box {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
}

#login__Form {
  display: flex;
  position: fixed;
  height: 350px;
  width: 330px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  border: 1px solid rgb(57, 136, 192);
}

#login__Box--Container {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  width: 250px;
}

#login__Header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login__Header--Text {
  font-size: 30px;
  color: white;
}

#login__Inputs {
  display: flex;
  height: 50px;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}

#login__Btns {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#login__Btn--OldUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#nav__Menu {
  margin-top: 2%;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#nav__Dropbox {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 1%;
}

#createCase {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 30% 30%;
}

#interaction {
  display: flex;
}

#case__WorkedBefore {
  margin-top: 5px;
  margin-bottom: 8px;
}

#caller__Box {
  max-width: 100%;
  min-width: 80%;
}

#createCase__Container {
  display: flex;
  flex-direction: column;
  height: 700px;
  min-width: 450px;
  max-width: 550px;
  border-radius: 10%;
  padding: 0 5%;
  align-items: space-around;
}

#workspace__Actions {
  display: inline-block;
  text-align: center;
  padding-bottom: 5%;
}

#createCase__Box {
  display: grid;
  grid-template-rows: auto auto;
  align-items: center;
  min-width: 300px;
  max-height: 700px;
}

.createCase__Details--Items,
.caller__Details--Items {
  display: flex;
  justify-content: space-between;
}

.case__Item {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

#troubleshooting__Container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 200px;
  height: 700px;
}

#troubleshooting__Form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#interaction {
  min-width: 200px;
}

#interaction__Form {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

#interaction__Btn--Box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 16px;
}

#interaction__Logs {
  display: flex;
  min-width: 200px;
  flex-direction: row;
  gap: 16px;
}

#troubleshooting {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 200px;
  max-width: 500px;
  align-items: stretch;
  padding-right: 5%;
}

#interactive__Description--Box {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  align-items: stretch;
  gap: 16px;
}

#troubleshooting__Box {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  gap: 16px;
}

#workspace__Nav {
  height: -moz-fit-content;
  height: fit-content;
}

#workspace__Nav--Container {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  top: 5%;
}

#messages {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  width: 100%;
}

#messages__Logs {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}

#interaction__Box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  min-width: 200px;
}

.logs {
  width: 100%;
  word-wrap: break-word;
  padding: 10px;
  background-color: transparent;
  border: 1px solid rgb(57, 136, 192);
  border-radius: 5px;
  margin-bottom: 10px;
  min-width: 200px;
}

.comments {
  min-width: 100%;
  word-wrap: break-word;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  margin-bottom: 10px;
  min-width: 200px;
}

#troubleshooting__Logs {
  min-width: 200px;
}

#troubleshooting__Header--Box, #message__Header--Box {
  display: flex;
  min-width: 200px;
  justify-content: center;
}

#description__Box, #shortDescription__Box {
  display: flex;
  flex-direction: column;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid rgb(57, 136, 192);
  border-radius: 4px;
}

input[type=checkbox]:checked {
  background: rgb(176, 20, 20);
  border-color: rgb(211, 225, 188);
}

#container__Body {
  height: 100vh;
  min-width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  margin-right: 10%;
  display: block;
}

.flex-left {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.flex-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.disappear {
  display: none;
}

.activate {
  background-color: purple;
}

.deactivate {
  background-color: transparent;
}/*# sourceMappingURL=style.css.map */